@font-face {
  font-family: "PixelMplus10Regular";
  src: local("PixelMplus10-Regular"),
       url("./fonts/PixelMplus10-Regular.ttf") format("truetype");
  
}

@font-face {
  font-family: "PixelMplus10Bold";
  src: local("PixelMplus10-Bold"),
       url("./fonts/PixelMplus10-Bold.ttf") format("truetype");
}